body {
    padding-top: 56px;
}

h1, h2 {
    color: #333;
}

table img {
    border-radius: 8px;
}
.product_item {
    transition: transform 0.2s; /* Smooth transition for hover effect */
}

.product_item:hover {
    transform: scale(1.05); /* Scale effect on hover */
}

.product-image {
    width: 100%;           /* Ensures the image takes up the full width of its container */
    height: 200px;        /* Fixed height for all images */
    object-fit: cover;    /* Ensures the image covers the area while maintaining aspect ratio */
}